@import "pure";
@import "grids-responsive";
@import "fonts";
@import "setup";
#dmenu {
  margin: 0;
  display: block;
  z-index: 3;
  background-color: $bgcolor;
  min-width: 12rem;
  max-width: 24rem;
  padding: $size;
  order: 2;
  flex-grow: 1;
  overflow: auto;
  position: relative;
  height: 100%;
  ul {
    display: block;
    padding: 0;
    margin: 0;
    list-style: none;
    position: fixed;
    li {
      display: block;
      padding: 0;
      margin: 0;
      margin-bottom: $size/4;
    }
  }
}

#bdy {
  flex-grow: 2;
  z-index: 2;
  width: 75%;
  display: block;
  margin: 0;
  padding: $size;
  order: 1;
  img {
    @extend .pure-img;
  }

  & > table {
    display: block;
    width: 100%;
    padding: 0 !important;
    margin: 0 !important;
    & > tbody {
      & > tr {
        display: flex;
        flex-direction: row;
        & > td {
          width: 15%;
          min-width: 16rem;
          &:last-of-type {
            border: 1px solid #00f;
            flex-grow: 1;
            iframe {
              display: block;
              width: 100%;
              margin-left: auto;
              margin-right: auto;
            }
            img {
              margin-left: auto;
              margin-right: auto;
            }
            tr {
              display: flex;
            }
          }
        }
      }
    }
  }
}