@import "pure";
@import "grids-responsive";
@import "fonts";
@import "setup";

#dmenu {
  margin: 0;
  display: block;
  z-index: 3;
  background-color: $bgcolor;
  min-width: 12rem;
  max-width: 24rem;
  padding: $size;
  order: 2;
  flex-grow: 1;
  overflow: auto;
  position: relative;
  height: 100%;
  ul {
    display: block;
    padding: 0;
    margin: 0;
    list-style: none;
    position: fixed;
    li {
      display: block;
      padding: 0;
      margin: 0;
      margin-bottom: $size/4;
    }
  }
}

#bdy {
  flex-grow: 2;
  z-index: 2;
  width: 75%;
  display: block;
  margin: 0;
  padding: $size;
  order: 1;
  img {
    @extend .pure-img;
  }

  & > table {
    display: block;
    width: 100%;
    padding: 0 !important;
    margin: 0 !important;
    & > tbody {
      & > tr {
        display: flex;
        flex-direction: row;
        & > td {
          width: 15%;
          min-width: 16rem;
          &:nth-of-type(2) {
            flex-grow: 1;
            iframe {
              display: block;
              width: 100%;
              margin-left: auto;
              margin-right: auto;
            }
            img {
              margin-left: auto;
              margin-right: auto;
            }
            tr {
              display: flex;
            }
            #node_list_last {
              display: block;
              table {
                border-bottom: 1px solid $font_color;
                margin-bottom: 1rem;
                padding-bottom: 1rem;
                @extend .transition;
                tr {
                  display: flex;
                  flex-direction: row;
                  & > td {
                    &:first-child {
                      width: 4rem;

                    }
                    &:last-child {
                      width: 100%;
                      flex-grow: 1;
                      table {
                        margin-bottom: 0;
                        padding-bottom: 0;
                        border-bottom: 0;
                        @extend .transition;
                        tr {
                          display: flex;
                          flex-direction: column;
                          @extend .transition;
                          &.header {
                            background-color: lighten($font_color, 75%);
                          }
                          td {
                            padding: 0.5rem 1rem;
                          }
                        }
                      }
                    }
                  }
                }
                &:hover {
                  background-color: lighten($font_color, 75%);
                  border-bottom: 1px solid $important;
                  tr {
                    & > td {
                      &:last-child {
                        table {
                          tr {
                            &.header {
                              background-color: lighten($font_color, 60%);
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
            .node_userlist ~ table {
              width: 100%;
              td {
                table {
                  width: 100%;
                  border-bottom: 1px solid $font_color;
                  padding-bottom: $size;
                  margin-bottom: $size;
                  @extend .transition;
                  tr {
                    td {
                      padding: $size/2;
                    }
                    &.header {
                      @extend .transition;
                      background-color: lighten($font_color, 75%);
                      td {
                        text-align: left;
                        div {
                          margin-top: $size/2;
                          text-align: left !important;
                        }
                      }
                    }
                  }
                  td {
                    width: 100%;
                  }
                  &:hover {
                    background-color: lighten($font_color, 75%);
                    tr {
                      &.header {
                        background-color: lighten($font_color, 60%);
                      }
                    }
                  }
                }
              }
            }
            td {
              &.vector {
                display: none;
                position: relative;
                overflow: auto;
              }
            }
          }
          &:nth-of-type(3){
            display:none;
          }
        }
      }
    }
  }
  #topic {
    border: 1px solid $font_color;
    padding: $size;
    margin-bottom: $size;
    @extend .transition;
    img {
      width: 100%;
      height: auto;
    }
    &:hover {
      border: 1px solid $important;
      background-color: lighten($font_color, 75%);
    }
  }
}